<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/rotate_pdf" method="POST" id="myForm">
        <label>File Path</label>
        <input type="text" name="file_path" /><br><br>
        <label>Angle of rotation</label>
        <input type="text" name="angle_of_rotation" /><br><br>
        <label>Page number</label>
        <input type="text" name="page_number" /><br><br>
        <input type="reset" value="submit"  >
    </form>
</body>
</html>